node_modules
pnpm-lock.yaml
coverage
dist
.next
.henri
.husky/_
packages/react/dist
packages/cli/template/**/package.json
website/dist
website/.astro
CHANGELOG.md
packages/*/CHANGELOG.md
.claude/
*.hbs
packages/demo/app/views/
packages/cli/scripts/generate/
.tmp/
# Written by drizzle-kit through `henri db:generate`, and read back by it
showcase/db/migrations/
