---
language: node_js
node_js:
  - "7"
  - "8"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.27.5
  - export PATH="$HOME/.yarn/bin:$PATH"
before_script:
  npm run pretest
cache:
  yarn: true
  directories:
  - node_modules
after_script: npm run coveralls